@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-my-primary{
  background-color: #fe181a;
}

.bg-my-primary-outline{
  color: #fe181a;
  background-color: transparent;
  border: 1px solid #fe181a;
}

.bg-my-primary-outline:hover{
  color: #fff;
  background-color: #fe181a;
  border: 1px solid #fe181a;
}

.color-my-primary{
  color: #fe181a;
}

.color-my-secondary{
  color: #00334a;
}

.footer-link{
  color: #00334a;
}

.footer-link:hover{
  color: #fe181a;
}